  body {
    background-color: #D9D7F1;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #8946A6;
    border-width: 5px;
    width: 10%;
  }
  img {
    height: 200px;
  }

  h1 {
    color: #6867AC;
  }

  h3 {
    color: #A267AC;
  }
